<div style="display: none;" id="useremail" class="[% user.email FILTER html %]"></div>
<link rel="stylesheet" type="text/css" href="/js/etersoft/bugs-watcher.css" />
<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script language="javascript" type="text/javascript" src="/js/etersoft/bugsWatcher.js?08_04_2020"></script>
