<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>

  <div id="useremail" class="kantegory@etersoft.ru" style="display: none;"></div>
  <script src="/socket.io/socket.io.js" type="text/javascript"></script>
  <script type="text/javascript">
/*    window.addEventListener('load', function() {
      let socket = io.connect();
      let email = document.querySelector('#useremail').className;
      socket.emit('addUser', { email: email });
      
      socket.on('showUser', function (data) {
        document.querySelector("#bz_show_bug_column_2 > table > tbody").innerHTML += `
	  <tr>` + data.email  +  `</tr>
	`;
      })
    }); */
  </script>
</body>
</html>
